# first we exclude everything
*

# neovim config has a seperate repository
# https://github.com/anir-baaan/neovim-configuration

# include bash config
!mybash/
!my_bash/**

# include foot terminal config
!foot/
!foot/**

# include tmux config
!tmux/
!tmux/**

# include user directory definitions
!user-dirs.dirs
